body {
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.hr {
	background-image: linear-gradient(to right,#63b0f8,  #63b0f8);
}

.button {
  background-color: rgba(245, 245, 245, 0.24);
  background-image: none;
  border-image: #044077;
  border-image-slice: 1;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  color:#06437c;
  font-weight: bolder;
  border-color: #042f57;
}

.aboutPC {
	font-size: 1.0rem;
	text-indent: 5%;
}


/* Social media icons */

.social{
	text-align: center;
}
.social a, .socialTwo a {
  color:#064e91;
  opacity: 1;
}

.socialTwo a {
	margin-right: 3%;
}

.social a:hover, .socialTwo a:hover {
  color: #fff;
  opacity: 1;
  transform: scale(1.25);
}

.social a:active, .socialTwo a:active {
  opacity: 1;
  transform: scale(1.25);
} 

.socialTwo{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h1{
  margin-top: 0;
  font-size: 1.6rem;
  font-weight: 700;
	font-family: 'Montserrat';
}


/* portfolio section */

.image {
 
	height: auto;
	position: relative;
	float:left;
	width: 50% ;
	padding: 8px;
}

.imageTwo {
  height: auto;
  position: relative;
  width: 50% ;
  padding: 8px;
  display: block;
}

/* Header Section
********************************************************************* */
header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
 	width: 100% ;
	height: 100vh;
	background-size: 100%;
	background: rgb(83, 160, 231) !important;
}
.title {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding: 2rem;
	max-width: 960px;
	text-align: center;
}

.title h1 {
	font-size: 70px;
}

.title p {
	max-width: 600px;
	margin: 0 auto;
	line-height: 150%;
}


@media only screen and (max-width: 500px) {
header {
	background-size: 280%; 
	background-position: center center;
}
.title h1 {
	font-size: 55px;
}
}
.title .icon {
	color: #FFFFFF;
	font-size: 50px;
}

.main_nav {
	position: fixed;
	top: 0px;
	max-height: 50px;
	z-index: 999;
	width: 100%;
	padding-top: 10px;
	background: none;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0;
	top: -100px;
	padding-bottom: 6px;
	color: #18BC9C;
}


@media only screen and (max-width: 766px) {

}
.open-nav {
	max-height: 400px !important;
}
.sticky {
	background-color: #4a35c0bb;
	color:#63b0f8;
	font-size: 80%;
	opacity: 1;
	top: 0px;
}
nav {
	width: 100%;
	margin-top: 5px;
}

@media only screen and (max-width: 766px) {
nav {
	width: 100%;
}
}
nav ul {
	list-style: none;
	overflow: hidden;
	text-align: center;
}

@media only screen and (max-width: 766px) {
nav ul {
	padding-top: 0px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}
}
nav ul li {
	display: inline-block;
	margin-left: 30px;
	line-height: 1.5;
	letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
nav ul li {
	width: 100%;
	margin: 0;
}
nav ul li:first-child {
	margin-top: 70px;
}
}
nav ul a {
	text-transform: uppercase;
	font-size: 10px;
	text-decoration: none;
}
nav ul a:hover {
	color: #CFCFCF;
}
.mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 22px;
	top: 0;
	width: 30px;
}

@media only screen and (max-width: 766px) {
.mobile-toggle {
	display: block;
}
}
.mobile-toggle span {
	width: 30px;
	height: 4px;
	margin-bottom: 6px;
  	background:#63b0f8;
	display: block;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 5vh;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: 100;
	text-decoration: none;
	text-shadow: 0;
	width: 13px;
	height: 13px;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	z-index: 9;
	-webkit-transform: translate(-50%, 0%) rotate(45deg);
	-moz-transform: translate(-50%, 0%) rotate(45deg);
	transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite;
	-moz-animation: fade_move_down 2s ease-in-out infinite;
	animation: fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
 0% {
-webkit-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-webkit-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@-moz-keyframes fade_move_down {
 0% {
-moz-transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
-moz-transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}
@keyframes fade_move_down {
 0% {
transform:translate(0, -10px) rotate(45deg);
opacity: 0;
}
 50% {
opacity: 1;
}
 100% {
transform:translate(0, 10px) rotate(45deg);
opacity: 0;
}
}


/* Contact Section
********************************************************************* */
#contact {
  padding: 25px;
  max-width: auto;
  max-height: 25px;
}



/* Spacing
********************************************************************* */
button, .button {
	margin-bottom: 1rem;
}


/* Utilities
********************************************************************* */
.u-full-width {
	width: 100%;
	box-sizing: border-box;
}
.u-max-full-width {
	max-width: 100%;
	box-sizing: border-box;
}


/*  sections */
#about {
  padding-top: 5%;
  padding-bottom: 15%;
}

/* Image */

.photo {
	/* border-radius: 2904px; */
	float: center;
	max-height: 100rem;
	max-width: 100rem;
	/* align-self: center; */
  }
  /* @media for image */
  
  @media screen and (max-width: 799px) {
	.photo {
	  /* border-radius: 2904px; */
	  max-height: 10rem;
	  max-width: 10rem;    
	  margin-right: 4%;
  }
  }
  
  @media screen and (min-width: 800px) {
  
	.photo {
	  border-radius: 2904px;
	  max-height: 12rem;
	  max-width: 12rem;
	  margin-right: 2%;
  }
  }
/* Services display */
p{
	text-align: center;
color: black;
font-size: 1em;
line-height: 2em;
margin-bottom: 1.5em;
display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3{
	font-size: 2em;
    line-height: 1em;
	margin-bottom: 1em;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-family: 'franklin-gothic-urw-cond', Arial, sans-serif;
    font-weight: 700;
}
h4{
	text-align: center;
	font-size: 1em;
    line-height: 1em;
    margin-bottom: 1em;
    color: #f5c453;
	text-transform: uppercase;
	font-family: 'franklin-gothic-urw-cond', Arial, sans-serif;
	font-weight: 700;
	display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.links {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	z-index: 2000 !important;
	animation-duration: 1.2s;
}

.links:hover {
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	color: #04427c;
}
  
.effect {
	z-index: 2 !important;
}