html {
 
  color: #fff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}
hr.star-light {
  border-color: #fff;
}


a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}
/*  Portfolio container */
.row{
  max-width: 1000px !important;
  width: 100%;
  margin-top: 10px;
  padding: 30px;
  overflow: hidden;

}


/* 2. Shared */

.wallpaper,
.picture-shadow,
.picture-image {
  display: block;
  height: 50%;
  left: 0;
  top: 0;
  width: 75%;
}

/* Full stack on Header */
.job,
.button {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color:#022e57;
  font-size: 0.85rem;
}

/* botton on header */
.button,
.social a {
  transform-origin: center;
  transition-duration: 100ms;

}

/* 3. Headers positon */

.wallpaper {
  background-position: center;
  background-size: cover;
  opacity: 0.2;
  position: fixed;

}

.content {
  display: flex;
    position: relative;
    min-height: 60vh;
    padding-top: 15px;
}
 
/* Box for header picture */
.side {
  max-height: 20rem;
  max-width: 20rem;
}

.picture {
  padding-top: 100%;
  position: relative;
  width: 100%;
}


.picture-image {
  border-radius: 290486px;
  position: absolute;
}

/* About box in header */
.about {
  max-width: 26rem;
}

.name {
  line-height: 1.125;
  margin-bottom: 0.5rem;
  font-size: 49.1818px;

}



.description {
  font-size: 1.5rem;
}

/* Resume botton */
.contact {
  display: inline-block;
  margin-bottom: 0;
  /* margin-top: 1.5rem; */
  vertical-align: top;
} 

.button {
  background-color: #fff;
  border-radius: 290486px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  padding: 1.25em 2em;
  text-shadow: none;
  transition-property: box-shadow, transform;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.02) translateY(-4px);
}

.button:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  transform: scale(0.98) translateY(-2px);
}

.social {
  display: flex;
}

.social li {
  height: 2rem;
  margin-right: 0rem;
  text-align: center;
  width: 2rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  height: 2rem;
  justify-content: center;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;
}

.socialTwo a {
  font-size: 1.5rem;
  height: 2rem;
  opacity: 0.5;
  transition-property: opacity, transform;
  width: 2rem;
  will-change: opacity, transform;

}

.social a:hover {
  opacity: 1;
  transform: scale(1.25);
}

.social a:active {
  opacity: 1;
  transform: scale(1.1);
}

.socialTwo {
  text-align: center;
  font-size: 1.5rem;
}
/* 4. Responsiveness */

@media screen and (max-width: 799px) {
  .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 5rem 3rem; */
  }

  .side {
    margin-bottom: 3rem;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 14rem;
    width: 14rem;
  }

  .social {
    text-align: center;
    /* position: relative; */
  }

  
}

@media screen and (min-width: 800px) {
  .content {
    align-items: center;
    justify-content: space-around;
    justify-content: space-evenly;
    /* padding: 4rem; */
  }

  .side {
    flex-grow: 0;
    flex-shrink: 0;
    height: 20rem;
    margin-left: 4rem;
    order: 2;
    width: 20rem;
  }

  .about {
    flex-grow: 1;
    flex-shrink: 1;
  }
}




/* Portfolio Section (images)  */
.row {
  padding-top: 3em;
  padding-bottom: 1em;
}



/* Common style */
figure {
	position: relative;
	float: left;
	margin: 10px 1%;
	min-width: 470px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;

}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
  opacity: 0.8;
  text-align: center;
}

ul .effect-jazz{
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-padding-start: 0px;
  padding-left: 2em;
  padding-right: 2em;
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #d32929;
  position: relative;

}

li img{
  padding-top: 3em;
  background: #9bece0;
  position: relative;
  margin-bottom: 3em;
  max-width: 100%;
  height: auto;
}

 li strong {
  font-size: 1.3em;
  line-height: 1em;
  margin-bottom: 0.25em;
  color: #40bef0;
  text-transform: uppercase;
  font-family: 'Cardo', serif;
}


.par {
font-size: 15px !important;
margin: 0%;
font-family: 'Playfair Display', serif;

}

a.links{
  color: #04427c;
  padding: 25px;
  margin-bottom: 2px;
  right: -20px !important;
}

/* portfolio effects */

li.effect-jazz {
height: auto;
border-width: 7px;
width: auto;
}

li.effect-jazz img {
  position: relative;
    margin-bottom: 1em;
}



/* Media queries */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  }

  .content {
    padding: 0 10px;
  }
  .container:after {
  content: "";
  display: table;
  clear: both;
  }

  ul{
    padding-left: 32.5%;
    padding-right: 32.5%;
  }

 

@media screen and (min-width: 799px) {

  .content  {
        padding: 0 10px 0px 10px;
        text-align: center;
        position: relative;
    }
    .row figure {
        display: inline-block;
        float: none;
        margin: 10px auto;
        width: 100%;
        position: relative;
    }


}


/* Media queries */

@media screen and (max-width: 800px) {
.content {
  padding: 0;
  text-align: center;
  margin: 5%;
}
figure {
  float: none;
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  max-height: 360px;
}

li{
  padding: 25px;
  float: none;
  width: 100%;
  min-width: 300px;
  max-height: 360px;
}

.row li.effect-jazz h2 {
	padding-top: 4%;
    font-size: 1rem;

}

.row li.effect-jazz p {
  padding-top: 4%;
    font-size: 10px;
    padding-right: 25px;
}

#about {
  padding: 100px 0 100px 0;
  background: #d24d57 url(../images/Stairs.jpg) 50% 0 no-repeat fixed;
  padding: 2.5em 0;}

.picture-image {
  border-radius: 25px;
  position: absolute;
}
}

@media (min-width: 600px) {
.row .container {
  width: 60%;
  padding: 0;
}
.row figure {
  float: none;
  width: 100%;
  min-width: 300px;
  max-width: 450px;
  max-height: 360px;
}


.row li.effect-jazz p {
  padding-top: 4%;
	-webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    font-size: 5px;

  }

.row li.effect-jazz h2 {

    padding-top: 4%;
    -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      font-size: 1rem;
      background: blue !important;
  }

  #about {
    padding: 100px 0 100px 0;
    background: #9bece0 url(../images/Stairs.jpg) no-repeat !important;
}
  
}

/* #about, #portfolio, {
   padding: 100px 0 100px 0 !important;

} */

#contact{
  background: #d24d57;
  color: #fff;
  padding-top: 20%;
  padding-bottom: 20%;
}

footer {
  text-align: center;

}



#send-mail{
  font-size: .8em;
  text-align: center;
  display: block;
  position: relative;
  background: #45b29a;
  padding: .75em 2em .75em 3.5em;
  color: #1b7f69;
  text-decoration: none;
  margin: 1.5em 0 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-weight: 400;
  border: 0;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;
}



